* {
  box-sizing: border-box;
  font-family: Arial;
  color: white;
}

body {
  background-color: #576253;
}

.mySvg {
  background-color: white;
  max-width: 600px;
  width: 100%;
  position: relative;
  border: 5px solid #a2a8a2;
  margin: 1em;
}

#nav {
  height: 40px;
  margin-bottom: 0px;
}

#nav p{
  font-family: "bd-palaktbau", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
  margin: 0.5em;
}

button {
  background-color: transparent;
  border: 2px solid #e05b26;
  height: 30px;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  cursor: pointer;
}

button:hover{
  color: #e05b26;
}

#forwards{
  width: 100px;
  margin-right: 0px;
}

#move{
  margin-left: 3em;
}

#control_panel{
  display: flex;
  max-width: 600px;
  width: 100%;
  height: 90px;
}

button {
  width: 4.5em;
}

#robot_container{
  min-width: 380px;
  width: 100%;
  position: relative;
  padding: 1em;
}


#robot_container .horizontal-line {
  stroke: #e05b26;
  stroke-width: 0.5px;
}

#robot_container .vertical-line {
  stroke-width: 0.5px;
  height: 200px;
  stroke: #e05b26;
  position: relative;
  top: 0;
}

#robot_container{
  display: flex;
  flex-direction: column;
  width: 100%;
  line-height: 0.7;
  align-items: center;
}

.robot_image {
  transition: x 0.2s ease, y 0.2s ease;
}

